<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 version="2.5"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>ex0a</display-name>

  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>ex0a.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test/*</url-pattern>
  </servlet-mapping>

</web-app>
