<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 version="2.5"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name xmlns="">migae</display-name>

  <servlet>
    <servlet-name>cache</servlet-name>
    <servlet-class>migae.cache</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cache</servlet-name>
    <url-pattern>/cache/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>migae.user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>migae.user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/_ah/login_required</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>

</web-app>
