<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 version="2.5"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <filter>
    <filter-name>migae3 filter</filter-name>
    <filter-class>gae3.filter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>migae3 filter</filter-name>
    <servlet-name>main</servlet-name>
  </filter-mapping>

  <filter-mapping>
    <filter-name>migae3 filter</filter-name>
    <servlet-name>cache</servlet-name>
  </filter-mapping>

  <servlet>
    <display-name>gae3 main</display-name>
    <servlet-name>main</servlet-name>
    <servlet-class>gae3.main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>gae3 memcache</display-name>
    <servlet-name>cache</servlet-name>
    <servlet-class>gae3.cache</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cache</servlet-name>
    <url-pattern>/cache/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
