<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 version="2.5"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name xmlns="">{{display-name}}</display-name>

  {{#servlets}}
  {{#services}}
  <servlet>
    <servlet-name>{{svcname}}</servlet-name>
    <servlet-class>{{name}}.{{class}}</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>{{svcname}}</servlet-name>
    <url-pattern>{{url-pattern}}</url-pattern>
  </servlet-mapping>

  {{/services}}
  {{/servlets}}

  <welcome-file-list>
    <welcome-file>{{welcome}}</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>

</web-app>
